div.wrap-center-content{float:left;width:665px;}
div.buttonsContainer{text-align:center;margin-bottom:20px;}
.mediatecaButtons{display:inline-block;margin-right:10px;padding:10px;width:120px;height:20px;background:url(../../../themes/area/imgs/percbck.png) repeat left top;vertical-align:middle;cursor:pointer;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow: 0px 3px 5px #000;-moz-box-shadow: 0px 3px 5px #000;-webkit-box-shadow: 0px 3px 5px #000;}
.mediatecaButtons:hover{position:relative;top:3px;color: #fqq;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.mediatecaButtons a{color:black;}
.mediateca-forms-container{float:left;padding:0 12px 0 12px;width:308px;margin:0;}
#mediateca-form-container{border-right:1px solid #F8E498;padding-right:24px;}
#mediateca-text-search{padding-right:0px;}
.mediateca-forms-container h4{padding:10px 0 10px 0;color:rgb(30,30,30)}
.mediateca-form{font-size:12px;}
.mediateca-form input[type="text"]{border: 1px solid #646464;height: 13px;padding: 1px;position: relative;width: 200px;}
.mediateca-form label{color:rgb(60,60,60);padding-left:2px;font-weight:bold;}
.mediateca-form select{margin-bottom:10px;min-width:200px;}
.float-right{float:right;padding-right:10px;}
.span-submit{position:relative;top:4px;vertical-align:middle;}
.mediateca-form input[type="image"]{position:relative;}
.hidden{display:none;}
ul.page-numbers{text-align:center;}
ul.page-numbers li{list-style-type:none;display:inline;padding-left:5px;}
a.page-numbers{}
.search-entry{padding-bottom:8px;}
.mediateca-image-anchor{float:left;margin:0;padding:0 10px 10px 0;}
.mediateca-image-anchor img {margin:0 0 10px 0;padding:0;background:none;border:1px solid #F8E498;}
#loading-gif{display:none;position:relative;display:none;left:50%;top:20px;}
div.mediateca-sidebar-thumb{width:100%;text-align:right;display:block;overflow:visible;padding:24px 0 0 12px;}
div#libri-removables-container{padding-top:12px;}
div.select-container-libri{padding-bottom:12px;}
div.libri-container-list{padding-bottom:0;}
ul.hierarchical_checkboxes{padding:0;vertical-align:top;overflow:auto;display:block;}
ul.hierarchical_checkboxes li{float:left;vertical-align:top;list-style-type:none;padding:0 5px 5px 0;margin:0;}
div.external-label{padding-top:3px;}
span.libri-submit{float:right;}

/*////// SINGLE ////////////*/
.mediateca-singles-main-content{padding-top:19px;}
.mediateca-singles-titles{margin:0 0 20px 13px;padding:0 0 2px 0;}
.mediateca-metadata{display:block;float:none;padding:2px 0 2px 7px;font-size: 12px;}
/*////////// SINGLE METAS ///////////*/
.mediateca-meta-below-title{margin:0;padding:0 0 12px 0;}
.mediateca-meta-below-title li{font-size:12px;list-style-type:none;margin:0;padding:0;indent:none;color:rgb(100,100,100);word-wrap:break-word;padding-bottom:2px;}
.mediateca-meta-below-title li strong{color:rgb(40,40,40);}
.mediateca-meta-below-title li a{/*color:#43a2e8;*/}
li.title-boxes{color:#43a2e8;padding:9px 0 4px 0;font-weight:bold;}
li.position_0{padding-top:0;display:none;};
li.position_1{padding-top:0;};